@import '../../assets/fonts/iconfont.css';
// @import url('//at.alicdn.com/t/font_3391679_q5vm90bdatf.css');

.iconfont {
  font-size: 24px;
}

.button {
  background: #FFFFFF;
  border: 0.5px solid rgba(140, 140, 140, 0.85);
  border-radius: 30px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 550;
  font-size: 22px;
  padding: 2px 10px ;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.price {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-align: right;
}

.price-inside {
  font-size: 36px;
}

.icon-arrow-right {
  font-weight: bold;
}